.titulos-tabelas {
    font-weight: bold;
    margin: 12px;
    margin-left: 1px;
}

.cor-fonte-espacamento-bordas-tabelas {
    color: white;
    border-spacing: 1px;
}

.cor-fundo-dados-tabelas {
    background-color: #424250;
}

.descricao-colunas-moda {
    font-weight: bold;
    background-color: #BB86FC;
}

.descricao-colunas-casa {
    font-weight: bold;
    background-color: #00C4B4;
}

.padding {
    padding: 5px;
}






